 .div1{
         display:inline-block;
         width:60px;
         vertical-align:top;
         margin-top:10px;
      }
      .img1{
        width:60px;
        height:60px;
        object-fit:cover;
        border-radius:60px;
      }
      .div2{
        display:inline-block;
        vertical-align:top;
        margin-left:10px;
        margin-top:10px;
      }
      p{
        margin-top:0;
        margin-bottom:0;
      }
      .p1{
        font-family:arial;
        font-size:16px;
        font-weight:bold;
        margin-bottom:4px;
      }
      .p2{
        font-family:arial;
        color:rgba(96,96,96);
        font-size:15px;
        margin-bottom:4px;
      }
      .p3{
        font-family:arial;
        color:rgba(96,96,96);
        font-size:15px;
      }
      .b1{
        background-color:rgb(71, 126, 244);
        color:white;
        border:none;
        width:65px;
        height:30px;
        font-size:14px;
        font-weight:bold;
        font-family:arial;
        border-radius:4px;
        margin-top:25px;
        margin-bottom:25px;
        margin-left:100px;
      }