P{
    font-family:arial;
    margin-top:0;
    margin-bottom:0;
  }
   .text{
    font-size:18px;
    font-weight:bold;
    width:280px;
    line-height:24px;
    margin-bottom:4px;
  }
    .middle{
      font-size:14px;
      color:rgb(96, 96, 96);
      margin-bottom:16px;
    }
    .marques{
      font-size:14px;
      color:rgb(96, 96, 96);
      margin-bottom:16px;
    }
    .description{
      font-size:14px;
      width:280px;
      color:rgb(96, 96, 96);
      margin-bottom:100px;
      line-height:20px;
    }
    .shop{
      background-color:rgb(227, 65, 64);
      color:white;
      text-align:center;
      font-size:14px;
      margin-bottom:250px;
      padding-top:20px;
      padding-bottom:20px;
    }
    .span:hover{
      text-decoration:underline;
      cursor:pointer;
    }