.this{
    font-family:tahoma;
    font-size:20px;
    font-weight:bold;
  }
  .biggest{
    font-family:arial;
    font-size:22px;
    font-weight:bold;
    margin-bottom:0;
  }
  .sales{
    font-family:arial;
    font-size:16px;
    font-style:italic;
    color:red;
    margin-top:4px;
  }
  .html{
    font-family:verdana;
    font-size:18px;
    font-weight:bold;
    margin-bottom:0;
  }
  .beginner{
    font-family:verdana;
    font-size:14px;
    margin-top:0;
    margin-bottom:20px;;
    color:rgb(164, 162, 162);
  }
  .in{
    font-family:verdana;
    font-size:14px;
    width:260px;
    line-height:18px;
    margin-bottom:20px;
    margin-top:0;
    
  }
  .get{
    background-color:green;
    color:white;
    border:none;
    padding-left:14px;
    padding-right:14px;
    padding-top:8px;
    padding-bottom:8px;
    border-radius:6px;
  }
  .shopping{
    font-family:arial;
    font-size:24px;
    font-weight:bold;
    margin-bottom:20px;
  }
  .see{
    font-family:arial;
    font-size:16px;
    text-align:center;
    margin-top:0;
    margin-bottom:20px;
  }
  .learn{
    font-family:arial;
    font-size:14px;
    text-align:center;
    color:rgb(11, 110, 216);
    margin-top:0;
    margin-bottom:20px;
  }
  .new{
    font-family:arial;
    color:rgb(255, 89, 0);
    text-align:center;
    font-weight:bold;
    font-size:14px;
    margin-bottom:6px;
  }
  .mac{
    text-align:center;
    font-family:arial;
    font-size:18px;
    font-weight:bold;
    margin-top:0;
    margin-bottom:2px;
  }
  .super{
    font-family:arial;
    font-weight:bold;
    font-size:22px;
    text-align:center;
    margin-top:0;
    margin-bottom:6px;
  }
  .from{
    font-family:arial;
    
    font-size:14px;
    text-align:center;
    margin-top:0;
    margin-bottom:6px;
  }
  .buy{
    background-color:rgb(0, 106, 255);
    color:white;
    border:none;
    text-align:center;
    margin-left:220px;
    padding-left:14px;
    padding-right:14px;
    padding-top:6px;
    padding-bottom:6px;
    border-radius:20px;
  }
  .here{
    font-family:arial;
    font-size:16px;
    width:480px;
  }
  .free{
    font-family:arial;
    font-size:16px;
    color:black;
    font-weight:bold;
  }
  span{
    color: grey;
    font-weight:normal;
  }
  .span1{
    color:blue;
  }
  .one{
    font-family:arial;
    font-size:40px;
    width:300px;
    line-height:30px;
    margin-bottom:2px;
    }
    .span2{
      font-size:20px;
      color:grey;
    }
    .span3{
      font-family:arial;
      font-size:16px;
      color:green;
    }
    .after{
      font-family:arial;
      font-size:16px;
      color:grey;
      margin-top:0;
    }
    .span4{
      font-family:arial;
      font-size:16px;
      color:red;
    }